<div class="body">
        <div class="textarea_field">
                <div class="labels">
                        <div class="bullet_name">
                                <span class="bullet_name_tag">{{bullet.name}}</span>
                        </div>
                        <div class="current_contect_update_time">
                                <button class="btn right_arrow" (click)="newerContent()"> R </button>
                                <span class="current_contect_update_time_tag">{{bullet.content[currentContent].updateTime}}</span>
                                <button class="btn left_arrow" (click)="olderContent()"> L </button>
                        </div>
                        <div class="last_update">
                                <label class="last_update_tag">Last update:</label>
                                <span class="last_update_value" id="last_update_{{bullet.id}}">{{bullet.lastUpdate}}</span>
                        </div>
                        <div class="creation_time">
                                <label class="creation_time_tag">Created at:</label>
                                <span class="creation_time__value" id="creation_time_{{bullet.id}}">{{bullet.dateOfCreation}}</span>
                        </div>
                </div>
                <textarea rows="5">{{bullet.content[currentContent].content}}</textarea>
        </div>
</div>