.body{
    margin-top: 3%;
    text-align: left;
    height: 100%;
}


.textarea_field{
    width: 90%;
    float: left;
    height: 100%;
}

.labels{
    font-size: 20px;
}


.current_contect_update_time{
    margin-left: 5%;
    float: left;
}
.bullet_name{
    float: left;
}

.last_update, .creation_time{
    float: right;
}

.creation_time{
    margin-right: 3%;
}

textarea{
    width: 100%;
}

.right_side_of_textarea, .left_side_of_textarea{
height: 100%;

margin-top: 3%;
}

.left_side_of_textarea{
    float: left;
}
.right_side_of_textarea{
    float: left;
}

.left_arrow, .right_arrow{
    height: 200%;
}
.left_arrow{
    float: left;
}

.right_arrow{
    float: right;
}

textarea{
    resize: vertical;
}