<div class="body">
        <div class="textarea_field">
                <div class="labels">
                        <div class="labels_on_left">
                                <div class="bullet_name">
                                        <span class="bullet_name_tag">{{bullet.name}}</span>
                                </div>
                                <div class="current_contect_update_time">
                                        <button class="btn right_arrow" (click)="newerContent()"> R </button>
                                        <span class="current_contect_update_time_tag">{{bullet.content[currentContent]._updateTime._day}}/{{bullet.content[currentContent]._updateTime._mounth}}/{{bullet.content[currentContent]._updateTime._year}}</span>
                                        <button class="btn left_arrow" (click)="olderContent()"> L </button>
                                </div>
                        </div>

                        <div class="labels_on_right">
                                <div class="last_update">
                                        <label class="last_update_tag">Last update:</label>
                                        <span class="last_update_value" id="last_update_{{bullet.id}}">{{bullet.lastUpdate}}</span>
                                </div>
                                <div class="creation_time">
                                        <label class="creation_time_tag">Created at:</label>
                                        <span class="creation_time__value" id="creation_time_{{bullet.id}}">{{bullet.dateOfCreation}}</span>
                                </div>
                        </div>

                </div>
                <textarea  rows="5" [(ngModel)]="bulletContentValue"></textarea>
        </div>
        <div class="bullet_settings">
                        <button class="btn btn-sm btn-primary save_bullet_btn" id="save_bullet_{{bullet.id}}" (click)="saveBullet(bullet)">
                                <span>Save</span>
                        </button>
                        <br>
                        <button class="btn btn-sm btn-danger remove_bullet_btn" id="remove_bullet_{{bullet.id}}" (click)="removeBullet(bullet)">
                                <span>Remove</span>
                        </button>
                        <br>
                        <button class="btn btn-sm btn-secondary edit_bullet_btn" id="edit_bullet_{{bullet.id}}">
                                <span>Edit</span>
                        </button>
                </div>
</div>