<nav class="navbar  navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand title" href="#"><b>ShiftOnline</b></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-left">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/bullets-list']">Bullets list</a></li>
          <li><a [routerLink]="['/manpower-strength']">Manpower strength</a></li>
      </ul>
    </div>
  </div>
</nav>