
.buttons_bar{
    margin-top: 2%;
    margin-left: 3%;
}
.add_bullet_btn{
    float: left;
}

.save_all_bullets_btn{
    margin-left: 1%;
}

.bullet_item{
    height: 100%;
}

.labels_on_right{
    float: right;
}

.labels_on_left{
    float: left;
}

li{
    padding-bottom: 10%;
}

ul{
    padding-bottom: 30%;
}