

.name_row,.start_date-row,.end_date_row{
    direction: rtl;
    float: right;
    width: 100%;
}
input{
    margin-right: 0%;
    float: left;
}
label{
    float: right;
}
.modal-header{
    width: 100%;
    direction: rtl;


}
.update-bullet-header{
    float: right;
    text-align: center;
}
.btn-update{
    width: 94%;
    height: 40%;
    text-align-last: center;
}