<div class="body">
  <div class="textarea_field">
          <div class="labels">
                  <div class="labels_on_left">
                          <div class="name">
                                  <span class="name_txt">{{hanhaya.name}}</span>
                          </div>
                  </div>

                  <div class="labels_on_right">
                          <div class="start_date">
                                  <label class="start_date_tag">תאריך התחלה:</label>
                                  <span class="start_date_value" id="start_date_{{hanhaya.id}}">{{hanhaya.startDate}}</span>
                          </div>
                          <div class="end_date">
                                  <label class="end_date_tag">תאריך סיום:</label>
                                  <span class="end_time__value" id="end_date_{{hanhaya.id}}">{{hanhaya.endDate}}</span>
                          </div>
                  </div>

          </div>
          <textarea  rows="3" [(ngModel)]="Content"></textarea>
  </div>
  <div class="hanhaya_settings">
                <button class="btn btn-sm btn-primary save_bullet_btn" id="save_hanhaya_{{hanhaya.id}}" (click)="saveHanhaya()">
                        <span>שמירה</span>
                </button>
                <br>
                <button class="btn btn-sm btn-danger remove_bullet_btn" id="remove_hanhaya_{{hanhaya.id}}" (click)="removeHanhaya(hanhaya)">
                        <span>מחיקה</span>
                </button>
                <br>
                <app-update-hanhaya-modal (OnClick)="handleUpdateClick($event)" [hanhayaData]="hanhaya"></app-update-hanhaya-modal>

        </div>
  
  