.name_row,.start_date_row,.end_date_row,.base_row,.system_row{
    direction: rtl;
    float: right;
    width: 100%;
}
select{
    width: 30%;
}
input{
    margin-right: 0%;
    float: left;
}
label{
    float: right;
}
.modal-header{
    width: 100%;
    direction: rtl;


}
.add-bullet-header{
    float: right;
    text-align: center;
}